h1 {
	font-family: "Arial", Arial, sans-serif;
	font-size: 24px;
	color: blue;
	text-align: center-left;
}
h2{
	font-family: "Arial", Arial, sans-serif;
	font-size: 12px;
	color: red;
	text-align: center-left;
}
th{
	font-family: "Arial", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: gray;
	text-align: center-left;
}
td{
	font-family: "Arial", Arial, sans-serif;
	font-size: 12px;
	color: gray;
	text-align: center-left;
}
